:root {
    --shipping-banner-background-color: #252525;
    --header-nav-background-color: #333;
    --discover-box-border-color: rgba(51, 51, 51, 0.2);
    --footer-background-color: #252525;
    --font-white-color: #fffef2;
    --font-black-color: #333;
}

header {
    width: 100%;
}

.shipping-banner-area {
    height: 40px;
    background-color: var(--shipping-banner-background-color);
}

.shipping-banner {
    width: 340px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.banner-text {
    color: var(--font-white-color);
    font-size: 13px;
}

.shipping-banner figure {
    width: 24px;
    fill: var(--font-white-color);
    margin-top: 5px;
}

.banner-text:hover {
    text-decoration: underline;
}

/* 헤더 - 네비게이션 */

.nav-area {
    height: 80px;
    background-color: var(--header-nav-background-color);
}

.nav-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.nav-left-container {
    width: 800px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left-container a {
    color: var(--font-white-color);
    font-size: 14px;
    word-spacing: -2px;
}

.search-icon {
    fill: var(--font-white-color);
}

.nav-left-container-mobile {
    display: none;
}

.nav-menu-mobile {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.nav-left-container-mobile a {
    font-size: 14px;
    color: var(--font-white-color);
    
}

.nav-right-container {
    width: 105px;
}

.nav-right-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right-container button {
    color: var(--font-white-color);
    font-size: 14px;
}

/* 메인 */

#main-title {
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/Aesop_Fragrance_2022_Web_Homepage_Primary_Full_Bleed_Desktop_L_2880x1044px.jpg);
    display: flex;
    align-items: center;
}

.main-title-container {
    max-width: 800px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
}

.aesop-logo figure {
    fill: var(--font-white-color);
    margin-right: 150px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

.main-contents {
    max-width: 560px;
    min-width: 250px;
    color: var(--font-white-color);
}

.main-top-text {
    font-size: 14px;
    margin-bottom: 25px;
}

.main-contents h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 25px;
}

.main-bottom-text {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 27px;
}

.aromas-link-box {
    width: 300px;
    height: 60px;
    border: 1px solid var(--font-white-color);
}

.aromas-link-box a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    font-size: 15px;
    color: var(--font-white-color);
    margin: 0 auto;
    transition: 0.4s;
}

.aromas-link figure {
    fill: var(--font-white-color);
    margin-left: 180px;
}

.aromas-link-box:hover > a {
    color: var(--font-black-color);
}
.aromas-link-box:hover > .aromas-link > figure {
    fill: var(--font-black-color);
}

.aromas-link-box a:hover, .aromas-link-box a:focus {
    border-color: var(--font-white-color);
    background-color: var(--font-white-color);
}

/* 상품 슬라이드 첫번째 */

#product-slide-area {
    width: 100%;
    height: 700px;
    background-color: var(--font-white-color);
    position: relative;
}

.product-slide-wrapper {
    max-width: 1700px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.product figure img {
    width: auto;
    height: 400px;
}

.product > * {
    text-align: center;
    color: var(--font-black-color);
    word-spacing: -3px;
    font-size: 14px;
}

.product-name {
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-name:hover {
    text-decoration: underline;
}

#product-slide-area:hover .side-button-box {
    width: 80px;
    height: 80px;
    background-color: var(--font-black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 40%;
    transform: translate3d(80px, 0, 0);
    pointer-events: auto;
    transition: all 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
    
}

.arrow {
    transform: rotate(-90deg);
    fill: var(--font-white-color);
}

.slide-bar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    position: absolute;
    top: 91%;
}

.slide-under-bar {
    width: 1700px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
}

.moving-bar {
    width: 425px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.6);
}

/* 향수의 역사 */

#history-area {
    width: 100%;
    height: 850px;
    background-color: var(--font-white-color);
    display: flex;
    align-items: center;
}

.history-wrapper {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.history-contents {
    width: 950px;
    height: 300px;
    margin-left: 100px;
}

.history-contents > * {
    color: var(--font-black-color);
}

.history-contents > h3 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.history-contents > p {
    margin-bottom: 30px;
    line-height: 25px;
    word-spacing: -1px;
}

.discover-box {
    width: 300px;
    height: 60px;
    border: 1px solid var(--discover-box-border-color);
}

.discover-box a {
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: var(--font-black-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    transition: 0.4s;
}

.discover-box figure {
    opacity: 70%;
}

.discover-box:hover > a {
    color: var(--font-white-color);
    fill: var(--font-white-color);
}

.discover-box a:hover, .discover-box a:focus {
    border-color: var(--font-black-color);
    background-color: var(--font-black-color);
}

.live-img video {
    margin-left: 120px;
}

/* 이솝 & 릭 오웬스 트래블 키트 */

#travel-kit-area {
    width: 100%;
    height: 730px;
    background-color: var(--font-white-color);
    display: flex;
}

.travel-kit-wrapper {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.travel-kit-contents {
    width: 1200px;
    height: 300px;
    margin-right: 100px;
    margin-left: 160px;
}

.travel-kit-contents > * {
    color: var(--font-black-color);
}

.travel-kit-contents > h3 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.travel-kit-contents > p {
    margin-bottom: 30px;
    line-height: 25px;
    word-spacing: -1px;
}

#product-slide-area-2 {
    width: 100%;
    height: 850px;
    background-color: var(--font-white-color);
    position: relative;
}

/* 탁월한 셀렉션 */

#product-slide-area-2 > h5 {
    font-size: 30px;
    color: var(--font-black-color);
    margin-left: 100px;
    padding-top: 80px;
}

.slide-bar-container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    position: absolute;
    top: 99%;
}

/* 스토어 로케이터 */

#store-locator-area {
    width: 100%;
    height: 1000px;
    background-color: var(--font-white-color);
    display: flex;
    align-items: center;
}

.store-locator-wrapper {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.store-locator-contents {
    width: 650px;
    height: 300px;
    margin-left: 100px;
    margin-right: 120px;
}

.store-locator-contents > * {
    color: var(--font-black-color);
}

.store-locator-contents > h3 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.store-locator-contents > p {
    margin-bottom: 30px;
    line-height: 25px;
    word-spacing: -1px;
}

.slide-view {
    width: 1300px;
    height: 650px;
    overflow: hidden;
    right: 0;
}

.store-slide-container {
    width: 2200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.store-slide-container figure {
    width: 100%;
    height: 100%;
}

.sotre-slide-bar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    position: relative;
}

.sotre-slide-under-bar {
    width: 1120px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: -70px;
    right: 0px;
}

.store-moving-bar {
    width: 560px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.6);
}

/* 인용문 */

#quote-area {
    width: 100%;
    height: 280px;
    background-color: var(--font-white-color);
}

.quote-container {
    width: 700px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

blockquote {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: 'Suisse Regular', sans-serif;
}

cite {
    font-size: 15px;
    font-weight: 500;
}
 
.fixed-icon{
    background-color: #262626;
    background-image: url(../img/live-chat-icon.svg)!important;
    background-position: 50%;
    background-repeat: no-repeat!important;
    border: 1px solid #ebeade;
    border-radius: 50%!important;
    bottom: 80px!important;
    color: rgba(0,0,0,.001);
    font-size: 12px!important;
    height: 37px!important;
    left: auto!important;
    overflow: visible!important;
    position: fixed;
    right: 18px!important;
    text-align: center;
    transition: width .5s ease-in-out,border-radius .5s ease-in-out;
    width: 37px!important;
}

/* 푸터 */

footer {
    width: 100%;
    height: 750px;
    background-color: var(--footer-background-color);
}

.footer-top  {
    color: var(--font-white-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    padding: 50px 40px;
}

.footer-top a {
    color: var(--font-white-color);
}

.email-box {
    width: 500px;
    height: 40px;
    border: 1px solid var(--font-white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

#email {
    width: 450px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: var(--font-white-color);
    font-size: 16px;
    outline: none;
}

.inner-text {
    font-size: 20px;
    position: absolute;
}

.inner-text:active {
    display: none;
}

.email-box figure {
    fill: var(--font-white-color);
}

.e-mail p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 20px;
}

#agree {
    margin-right: 10px;
    border: 1px solid var(--font-white-color);
    color: var(--footer-background-color);
}

.footer-article h6 {
    font-size: 15px;
    margin-bottom: 25px;
}

.footer-article a {
    font-size: 14px;
    line-height: 35px;
}

.footer-article > p {
    font-size: 14px;
    line-height: 20px;
}

.arrow {
    display: inline;
    fill: var(--font-white-color);
}

.more {
    text-decoration: underline;
}

.footer-article li {
    font-size: 14px;
}

.korea {
    text-decoration: underline;
}

.footer-article h6::after {
    content: '';
    display: block;
    width: 350px;
    height: 35px;
    border-bottom: 1px solid var(--font-white-color);
}

.footer-bottom {
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 35px;
    border-top: 2.5px solid var(--font-white-color);
}

.copyright {
    font-size: 18px;
    color: var(--font-white-color);
}

@media screen and (max-width:1024px) {
    .nav-left-container {
        display: none;
    }
    .nav-left-container-mobile {
        display: flex;
    }
    #main-title {
        background-image: url(../img/Aesop_Fragrance_2022_Web_Homepage_Primary_Full_Bleed_Tablet_1536x1230px.jpg);
    }
    .product-slide-wrapper .product:nth-child(3) {
        display: none;
    }
    .product-slide-wrapper .product:nth-child(4) {
        display: none;
    }
    
}