:root {
    --shipping-banner-background-color: #252525;
    --header-nav-background-color: #333;
    --footer-background-color: #252525;
    --font-white-color: #fffef2;
    --font-black-color: #333;
}